@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #b7bacd;
  background: #31384b;
}

.container {
  margin: 0 auto;
  max-width: 610px;
}

.game {
  background: #2c374c url("../img/bg.jpg") no-repeat top center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 144px 176px 174px 230px;
}

@media screen and (max-width: 805px) {
  .game {
    padding: 65px 130px 65px 130px;
  }
}

@media screen and (max-width: 600px) {
  .game {
    padding: 55px 90px 55px 90px;
  }
}

@media screen and (max-width: 470px) {
  .game {
    padding: 25px 30px 25px 30px;
  }
}

.card {
  background: #212534;
  -webkit-box-shadow: 0px 23px 57px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 23px 57px 0px rgba(0, 0, 0, 0.4);
}

.card-triggers {
  background-color: #2b3040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 62px 0px 73px;
}

@media screen and (max-width: 948px) {
  .card-triggers {
    padding: 20px 40px 0px 20px;
  }
}

@media screen and (max-width: 900px) {
  .card-triggers {
    padding: 15px 30px 0px 20px;
  }
}

@media screen and (max-width: 805px) {
  .card-triggers {
    padding: 15px 30px 15px 30px;
  }
}

.card-triggers__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.702;
}

.card-triggers__tab:hover {
  opacity: 1;
  color: #fbfbfb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: inherit;
  margin-top: 12px;
  border-bottom: 2px solid transparent;
  padding-bottom: 28px;
}

@media screen and (max-width: 900px) {
  .category {
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 805px) {
  .category {
    display: none;
  }
}

.category:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 28px;
}

@media screen and (max-width: 900px) {
  .category:hover {
    padding-bottom: 18px;
  }
}

.card-content {
  display: none;
  padding: 55px 47px 53px 49px;
}

.card-content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.card-content__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 61%;
          flex: 0 1 61%;
}

.card-content--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 55px 47px 53px 49px;
}

@media screen and (max-width: 900px) {
  .card-content--active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 805px) {
  .card-content--active {
    padding: 30px 22px 30px 22px;
  }
}

.img-game {
  max-width: 100%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating__star:not(:last-child) {
  margin-right: 9px;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  margin-top: 5px;
}

.title {
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  padding: 0px;
  margin: 0px 0px 11px 0px;
}

.subtitle {
  font-size: 14px;
  color: #fdfdfd;
  padding-top: 15px;
  padding: 0px;
  margin: 0px;
}

.about {
  line-height: 22px;
  margin-bottom: 61px;
}

.game-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 948px) {
  .game-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 948px) {
  .cost {
    padding-bottom: 20px;
  }
}

.cost__discout {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #fedc3f;
}

.cost__price {
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}

.btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  background-color: #13e28d;
  padding: 18px 34px;
}

.btn:hover {
  background-color: #13e28c94;
  -webkit-transition: all 0.015s;
  transition: all 0.015s;
}
